img {
    height: 200px;
    background-color: #ca6565;

  }


body {
    margin-bottom: 1000px;
}

.loadImagesBtn{
   margin-left: 400px;
    width: 400px;
    height: 200px;
    margin-top: 500px;
}

